.scroll-box {
    overflow-y: scroll;
    height: 400px;
    padding: 1rem
}

.card {
    border: none;
    background-color: lightgrey;
}

.btn {
    margin: 5px;
}

hr {
    border: 2px solid black;
}